.blog-form{
    background-color:#E2DAD6;
    border-radius: 10px;
    min-height: 70vh;
    left: 0;
    margin: auto;
    margin-top: 50px;
    padding: 1vw 1.5vw;
    position: fixed;
    right: 0;
    width: 70vw;
    z-index: 99;
}
.form-body{
    overflow-x: hidden;
    /* overflow-y: scroll; */
    max-height: 400px;
    /* height: 100%; */
}

.blur-background{
    content: '';
    min-width: 100%;
    min-height: 110%;
    background-color: #6EACDA;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: -10%;
    z-index: 97;
}

.new-blog-btn{
    position: fixed;
    bottom: 50px;
    right: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    scale: 1;
    border: none;
    overflow: hidden;
    background-color: #021526;
    transition: all .5s ease-in-out;
}
.new-blog-btn::after{
    content: "+";
    position: absolute;
    left: 3px;
    top: 2px;
    line-height: 2.1rem;
    font-size: 4rem;
    color: #6EACDA;
}
.new-blog-btn:hover{
    box-shadow: 0px 0px 10px 4px#6EACDA;
    scale: 1.1;
}
.blog-form .btn-close{
    position:relative;
    left: 45%;
    margin-bottom: 10px;
}

.submit-btn-div{
   display: flex;
   flex-direction: row-reverse;
   padding-right: 50px; 
}

.blog-form .input-data{
    width: 90%;
    margin:auto;
}